{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ course.title }}</h1>

    <div class="card">
        <p>Prix : {{ course.price }} €</p>

        <a class="btn btn-buy" href="#" >Acheter le cursus</a>
    </div>

    <h2>Leçons</h2>

    <div class="lesson-list">
    
        {% for lesson in course.lessons %}

            <div class="lesson-item">

                <div>

                    <strong>{{ lesson.title }}</strong><br>
                    <span class="price">{{ lesson.price }} €</span>
                    
                </div>
                
                <a href="{{ path('app_lesson', { id: lesson.id }) }}">Voir</a>
            
            </div>

        {% else %}

            <p>Acune leçon disponible.</p>

        {% endfor %}

    </div>

    <a href="{{ path('app_theme', { id: course.theme.id }) }}">
        Retour au thème
    </a>

</div>

{% endblock %}
